{% extends "paginas/cabezera.html" %}

{% block titulo %} Gestor de Materiales de la UTM {% endblock %}

{% block contenido %}
<div class="container-fluid " >
    <div class="row pt-5 mt-5">
        <div class="col text-center">
            <p class="display-4">Editar Práctica</p>
           <div class="row">
               <div class="col">
                
                <form action="{% url 'Editar' practica.id %}" method="POST" role="form" >
                    {% csrf_token %}
                    <div class="row mx-auto mt-3">
                        <div class="col-6 pe-0 me-0 ">
                            <label for="exampleInputEmail1" class="form-label fw-bold">Grupo:</label>
                        </div>
                        <div class="col-4 ps-0 ms-0">
                            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{practica.grupo}}" name="grupo" >
                        </div>
                    </div>
                    <div class="row mx-auto mt-3">
                        <div class="col-6 pe-0 me-0 ">
                            <label for="exampleInputEmail1" class="form-label fw-bold">Nombre Práctica:</label>
                        </div>
                        <div class="col-4 ps-0 ms-0">
                            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{practica.nombrePractica}}" name="nombrePractica">
                        </div>
                    </div>
                    <div class="row mx-auto mt-3">
                        <div class="col-6 pe-0 me-0 ">
                            <label for="exampleInputEmail1" class="form-label fw-bold ">Hora:</label>
                        </div>
                        <div class="col-4 ps-0 ms-0">
                            <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{practica.hora}} " name="hora">
                        </div>
                    </div>
                    <div class="row mx-auto mt-3">
                        <div class="col-6 pe-0 me-0 ">
                            <label for="exampleInputEmail1" class="form-label fw-bold">Solicitante:</label>
                        </div>
                        <div class="col-4 ps-0 ms-0">
                            <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{practica.solicitante}}" name="solicitante">
                        </div>
                    </div>
                    <div class="row mx-auto mt-3">
                        <div class="col-6 pe-0 me-0 ">
                            <label for="exampleInputEmail1" class="form-label fw-bold">Materiales:</label>
                        </div>
                        <div class="col-4 ps-0 ms-0">
                            <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="material" value="{{practica.material}}">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end  mt-3 me-5 pe-5">
                        <input type="Submit" class="btn btn-info btn-lg" value="Editar">
                    </div>
                    
                    </form>
                </div>
           </div>
            
        </div>
    </div>
   
</div>
{% endblock %}